.grid-container {
	margin: auto;
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 35px;
}

.grid-item {
	transition: 0.2s;
	aspect-ratio: 1.5;
	border-radius: 20px;
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.grid-item h1 {
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	/* background-color: rgba(0, 0, 0, 0.9); */
}

.grid-item-details {
	color: var(--text-color-light);
	position: absolute;
	padding: 5%;
	top: 50%;
	left: 0;
	width: 90%;
	height: 90%;
	background-color: var(--background-color-other);
	opacity: 0;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center; /* Added */
	align-items: center; /* Added */

}
.grid-item-details p {
	font-size: 1.3rem;
	width: 100%;
}
.grid-item-details button {
	border-radius: 10px;	
	all: unset;
	width: 50px;
	text-align: center;
	margin: 5px;
	background-color: var(--background-color-other-dark);

	border-radius: 10px;
	padding: 5px;
}
.grid-item-details button:hover {
	cursor: pointer;
	background-color: var(--background-color-highlight);
	;
}

.grid-item:hover .grid-item-details {
	opacity: 1;
	top: 0px;
}
.grid-item-details .framework {
	margin: 6px;
	font-size: 1rem;
	width: fit-content;
}
