#nav {
	position: fixed;
	padding: 5px;
	left: 50%; /* Center the navigation bar horizontally */
	transform: translateX(-50%); /* Center the navigation bar horizontally */

	top: 10px;
	display: flex;
	background-color: var(--background-color-other-dark);
	border-radius: 20px;
	z-index: 10;

}
a {
	all: unset;
	padding: 5px;
	font-size: 1.2rem;
	margin: 0 10px;
	transition: 0.2s;
	border-radius: 10px;
}
a:hover {
	transition: 0.2s;
	cursor: pointer;
	background-color: var(--background-color-highlight);
}