.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3%;
  }
  
  .grid-item {
	padding-left: 15px;
	padding-right: 15px;
	background: var(--background-color-other);
	aspect-ratio: 1/1;
	/* Optional: Add additional styling for grid items */
  }