.grid-icon-container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.grid-item h2 {
	color: var(--text-color-highlight);
}
.grid-icon {
	width: 30px;
	height: 30px;
	margin-left: 15px;
}
.grid-icon:hover {
	cursor: pointer;
}
.grid-description {
	margin-top: 50px;
	font-size: 1.2rem;
	line-height: 2rem;
}
.grid-item {
	transition: 0.2s;
	width: 357.5px;
	position: relative;
	/* background: linear-gradient(to bottom, var(--background-color-other), var(--background-color-other-darker)); */
	background: linear-gradient(to bottom, var(--background-color-other), var(--background-color-other-dark));
	padding-left: 15px;
	padding-right: 15px;
	aspect-ratio: 1/1;
	/* Optional: Add additional styling for grid items */
  }
.grid-item:hover {
	transition: 0.2s;
}
.grid-frameworks {
	position: absolute;
	bottom: 15px;
}