@font-face {
	font-family: poppins-regular;
	src: url('./resources/fonts/Poppins-Regular.otf');
}
@font-face {
	font-family: poppins-bold;
	src: url('./resources/fonts/Poppins-Bold.otf');
}
@font-face {
	font-family: poppins-thin;
	src: url('./resources/fonts/Poppins-Thin.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0;
	font-family: poppins-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0A0E12;
	background-color-other: #161B22;
	color: white !important;
  
}

