:root {
    --background-color-neutral: #0f1745; 
    --background-color-other: #1c2c87;
    --background-color-other-dark: #5873e9;
    --background-color-highlight: #4176c5;
	--text-color-highlight: #00d4f9;
    --text-color-light: #eaeaea;
    --text-color-dark: #909bb9;
}
@font-face {
	font-family: 'Custom Font';
	src: url('./fonts/Brazilian-Clay.ttf') format('truetype');
}

* {
	/* outline: red 2px dashed; */
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	font-family: 'Custom Font';
}
html {
	scroll-behavior: smooth;
  }
body {
	max-width: 1500px;
	margin: auto;
	background-color: var(--background-color-neutral);
	color: var(--text-color-light);
	height: 4000px;
}